@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;300;400;600&display=swap");

$fa-font-path: "~@fortawesome/fontawesome-free/webfonts";
$font-family: "Inter", sans-serif;

@import "~@fortawesome/fontawesome-free/scss/brands";
@import "~@fortawesome/fontawesome-free/scss/regular";
@import "~@fortawesome/fontawesome-free/scss/solid";
@import "~@fortawesome/fontawesome-free/scss/fontawesome";

* {
  &,
  &:before,
  &:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
}

html,
body {
  font-family: $font-family;
  font-size: 1rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 300;
  margin: auto;
}

h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2.5rem;
}
h3 {
  font-size: 2rem;
}
h4 {
  font-size: 1.5rem;
}
h5 {
  font-size: 1.25rem;
}
h6 {
  font-size: 1rem;
}

.main {
  width: 100%;
  max-width: 960px;
  min-height: 100vh;
  margin: auto;
  padding: 0 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  header {
    width: 100%;
    border-bottom: 1px solid #ddd;
    padding: 1rem 0;
  }

  main {
    width: 100%;
    padding: 1rem 0;

    canvas {
      background: #000;
      margin: auto;
    }
  }

  #info {
    border-top: 1px solid #ddd;
    width: 100%;
    padding: 1rem 0 0;
  }

  footer {
    border-top: 1px solid #ddd;
    width: 100%;
    padding: 1rem 0;
  }
}

.author {
  font-size: 0.9rem;
  font-weight: 300;
  font-style: oblique;
}

.description {
  font-weight: 300;
}

.controls {
  list-style-position: inside;
  padding: 1rem;

  li {
    font-weight: 300;
  }
}

.repository {
  text-align: center;
  margin-bottom: 1rem;

  a {
    color: #999;
    font-weight: 600;
    text-decoration: none;
    transition: 0.3s;
  }
}

.copy {
  color: #999;
  font-weight: 300;
  font-style: oblique;
  text-align: center;
}
